<div class="hero-unit">
  <center>
<%= simple_form_for([@page, @post], :html => { :multipart => true }) do |f| %>
<% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :body, label: 'Відредагуйте ваше повідомлення', required: false %>

  <%= f.submit "Оновлення повідомлення" %>
  

<%= link_to 'Назад', :controller => 'static_pages', :action => @page.name %>
<% end %>
</center>
</div>
