
<% provide(:page_title, 'Головна сторінка') %>
<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <% if post.post_path == :page_title %>
      <tr>
        <td><%= post.title %>
        <td><%= raw post.body %>
        <td><%= image_tag post.photo.url (:thumb) %></td>
        <td><%= link_to 'Показати', post %></td>
        <td><%= link_to 'Редагувати', edit_post_path(post) %></td>
        <td><%= link_to 'Видалити', post, method: :delete, data: { confirm: 'Ви впевнені?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Нове повідомлення', new_post_path %>
