<div class="hero-unit">
  <center>
<h3>Галерея</h3>

  <script src="<%= javascript_path('galleria-1.4.2.min.js') %>" ></script>
  <script src="<%= javascript_path('galleria.classic.min.js') %>" ></script>
  

    
             <div class="galleria">
      <% @uploads.each do |upload| %>
          <%= image_tag(upload.uploaded_file(:original), class: 'thumb') %>
          <% end %>
            </div>

      <script>
        Galleria.loadTheme("<%= javascript_path('galleria.classic.min.js') %>");
        Galleria.run(".galleria", { height: parseInt($('.gallery').css('height')), wait: true });
      </script>

         <br>
         
          <% if signed_in? %>
          <% @uploads.each do |upload| %>
        <div class="preview">
          <%= image_tag(upload.uploaded_file(:thumb), class: 'thumb') %>
          <br>
          <%= link_to 'Show', upload %>
          <%= link_to 'Destroy', upload, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    <% end %>
<br>
<% if signed_in? %>
<%= link_to 'New Upload', new_upload_path, :class => 'btn btn-small' %>
<% end %>
</center>
</div>