 <%= render 'layouts/user' %>

  <header  class="navbar navbar-fixed-top navbar-inverse">
     
 
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "school_app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">

              <li><%= link_to "Головна сторінка", root_path %></li>
              <li><%= link_to "Візитна картка", visit_path %></li>
              <li><%= link_to "Методичний банк", mbank_path %></li>
              <li><%= link_to "Мультимедійні розробки педагогів", multrp_path %></li>
              <li><%= link_to "Гурткова робота", gwork_path %></li>
              <li><%= link_to "Шкільна організація", school_path %></li>
              <li><%= link_to "Масові заходи", mass_path %></li>
              <li><%= link_to "Новини", news_path %></li>
              <li><%= link_to "Гостевая книга", guest_path %></li>
              <li><%= link_to "Соціально-психологічна сторінка", spsih_path %></li>
              <li><%= link_to "Галерея", uploads_path %></li>

            </ul>
          </nav>
        </div>
      </div>
    </header>