  <header> 
    <%= render 'layouts/user' %>
      </div>
      <div class="head-img">
      <h1> Часовоярська СЗШІ №8 </h1>
      <h3>Донецької обласної ради</h3>
      </div>
      <div class="navbar navbar-inverse navbar-inner" id="mainmenu2">
      
          <ul class="nav">
              
              <li><%= link_to "Масові заходи", mass_path %></li>
              <li><%= link_to "Новини", news_path %></li>
              <li><%= link_to "Гостьова книга", guest_path %></li>
              <li><%= link_to "Соціально-психологічна сторінка", spsih_path %></li>
              <li><%= link_to "Галерея", uploads_path %></li>
              <li><%= link_to "Шкільна організація", school_path %></li>
            </ul>
          </div>
      
    </header>