<article>
 <ul class="floatleft">
    <p>
<% if current_user %>
  <%= "Hello, #{current_user.email}" %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign in", "#sign_in", "data-toggle" => "modal", :class => 'btn btn-small' %>
  <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small' %>
  <%= render 'shared/sign_in' %>
  <%= render 'shared/sign_up' %>
<% end %>
    </p>
    </ul>
    <p>&nbsp;</p>
  </article>
  <header class="navbar navbar-fixed-top navbar-inverse">
     <article>
 
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "school_app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Головна сторінка",    '#' %></li>
              <li><%= link_to "Візитна картка", '#' %></li>
              <li><%= link_to "Методичний банк", '#' %></li>
              <li><%= link_to "Мультимедійні розробки педагогів", '#' %></li>
              <li><%= link_to "Гурткова робота", '#' %></li>
              <li><%= link_to "Шкільна організація", '#' %></li>
              <li><%= link_to "Масові заходи", '#' %></li>
              <li><%= link_to "Новини", '#' %></li>
              <li><%= link_to "Гостевая книга", '#' %></li>
              <li><%= link_to "Соціально-психологічна сторінка", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>