 <article id="userlogin">
 	<div class="navbar navbar-inverse navbar-inner">
      
        
            <ul class="nav" id="mainmenu">

              <li><%= link_to "Головна сторінка", root_path %></li>
              <li><%= link_to "Візитна картка", visit_path %></li>
              <li><%= link_to "Методичний банк", mbank_path %></li>
              <li><%= link_to "Мультимедійні розробки", multrp_path %></li>
              <li><%= link_to "Гурткова робота", gwork_path %></li>
              
               </ul>
         
       </div>

    <div class="search">
    <%= form_tag static_pages_path, :method => :get do %>
      <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    </div>
  <div class="login">
  	<% if current_user %>
  <%= link_to "#{current_user.email}", edit_user_registration_path %>
   <%= link_to "Вихід", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Вхід", "#sign_in", "data-toggle" => "modal", :class => 'btn btn-small' %>
 </div>

    <%= render 'shared/sign_in' %>
    
  </article>

  
<% end %>
     
