<!DOCTYPE html>
<html>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    </head>
  <body>
<% if current_user %>
  <%= "Hello, #{current_user.email}" %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign in", "#sign_in", "data-toggle" => "modal", :class => 'btn btn-small' %>
  <%= link_to "Sign up", "#sign_up", "data-toggle" => "modal", :class => 'btn btn-small' %>
  <%= render 'shared/sign_in' %>
  <%= render 'shared/sign_up' %>
<% end %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "school_app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Головна сторінка",    '#' %></li>
              <li><%= link_to "Візитна картка", '#' %></li>
              <li><%= link_to "Методичний банк", '#' %></li>
              <li><%= link_to "Мультимедійні розробки педагогів", '#' %></li>
              <li><%= link_to "Гурткова робота", '#' %></li>
              <li><%= link_to "Шкільна організація", '#' %></li>
              <li><%= link_to "Масові заходи", '#' %></li>
              <li><%= link_to "Новини", '#' %></li>
              <li><%= link_to "Гостевая книга", '#' %></li>
              <li><%= link_to "Соціально-психологічна сторінка", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>